@model IEnumerable<Wardrobe_MVC.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Bottoms</h2>

<p class="text-center">
    <a class="btn btn-default" href="~/Bottoms/Create">Create New &raquo;</a>
</p>
<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="img-thumbnail">
                <div class="caption">
                    <h5>
                        @Html.DisplayFor(modelItem => item.BottomName)
                    </h5>
                    <p>
                        <img class="indexpic" src="@Html.DisplayFor(modelItem => item.BottomPic)" />
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
